@charset "UTF-8";

 #progress {
    appearance: none;
     border: none; /* 추가 */
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    /*!
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);
    
    */
    
    
}


#index_wrap #leftToRight {display: block; margin-bottom: 50px; position: absolute;


margin-top: 5vh;

    left: 0;
    top: 0;}
#index_wrap #leftToRight .upMenu {position: relative; display: inline-block; margin: 0 60px; height: 40px; text-align: center; line-height: 30px; cursor: pointer; }
#index_wrap #leftToRight .upMenu div { text-decoration: none; font-size: 2.5em; opacity:0.5;}
#leftToRight .upMenu::after {position: absolute; content:""; display: block; border-bottom: 4px solid #000; transition: width 250ms ease-out; left: auto; right: 0;  width: 0; margin-top:10px;}
#leftToRight .upMenu:hover::after {width: 100%; left: 0; right: auto;}



.menu .submenu { margin-bottom: 50px; display:none; padding-top:40px; position: absolute;}
.menu .submenu li {position: relative; display: inline-block; margin: 0 30px; height: 40px; text-align: center; line-height: 30px; cursor: pointer;
text-align: center; font-size: 1.5em; color: gray;}
.menu .submenu li a {color: gray; text-decoration: none; font-size: 2em;}
#mypageMenu li::after {position: absolute; content:""; display: block; border-bottom: 4px solid #000; transition: width 250ms ease-out; left: auto; right: 0;  width: 0;}

.selected {
          opacity:1 !important;
         
        }
 .menu .submenu li.sel {
            color: black;
        }        

	.menu .submenu.visible {
          display: block ;
      }	
      .content div{
      display: none ;
      }
    .content div.contentshow{
    display: block ;
    }  
        